* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-size {
  width: 100%;
  min-height: 100vh;
}

.contador {
  width: 600px;
}

.big {
  padding: 20px 25px;
  margin: 0 10px;
}

.valor {
  font-size: 40px;
  color: #343a40;
}

.decrementar {
  background-color: #dc3545;
}

.incrementar {
  background-color: #28a745;
}

button {
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 63px;
}

button,
.valor {
  cursor: pointer;
}

button:hover,
.valor:hover {
  filter: brightness(1.2);
}

@media (max-width: 600px) {
  .contador {
    width: 90%;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-around;
  }
}
