body {
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.health {
  display: flex;
}

.health img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.health span {
  font-weight: bold;
  color: red;
}
.pokemon {
  display: flex;
  flex-direction: column;
}

.profile {
  width: 100px;
  height: 100px;
}
span {
  font-weight: bold;
}
span.grass {
  color: green;
}
span.water {
  color: darkcyan;
}
span.fire {
  color: firebrick;
}
